
[Unit]
Description=Telegram Ollama bot. See https://github.com/Arseny802/arseny802_ollama_bot
After=network.target

[Service]
Type=simple
ExecStart=/home/arseny/python-venvs/ollama/bin/python REPLACE_ME_WITH_PWDollama_bot.py REPLACE_ME_WITH_LOG_DIR
Restart=always
StandardOutput=REPLACE_ME_WITH_LOG_DIRStandardOutput.log
StandardError=REPLACE_ME_WITH_LOG_DIRStandardError.log

[Install]
WantedBy=multi-user.target
